@{
    ViewData["Title"] = "Informacje";
}

<div class="text-center">
    <p>Strona powstała jako pomoc przy wypełnianiu dokumentów <br />  <a href="http://portfolio.mromik.pl/">by MRomik</a></p>
</div>