@model AmountModel

<div class="container">

    <form asp-controller="Amount" asp-action="AmountInWords" method="post">
        <div class="mb-lg-3">
            <label asp-for="Amount" class="form-label">Podaj kwotę</label>
            <input class="form-control" asp-for="Amount" placeholder="Podaj kwotę, np: 1040,50" required >
        </div>
        <input class="form-control" asp-for="AmountInWords" type="hidden">
        <br />
        <button type="submit" class="btn btn-outline-primary">Wyślij</button>
    </form>

    @if (Model.AmountInWords != null)
    {
        <br />
        <h2> Kwota słownie:</h2>
        <input class="form-control" id="input" value="@Model.AmountInWords" type="text">
        <br />
        <button class="btn btn-outline-primary" id="copy">Kopiuj do schowka</button>
    }

</div>

<script type="text/javascript">
    function copy() {
        var copyText = document.querySelector("#input");
        copyText.select();
        document.execCommand("copy");
    }
    document.querySelector("#copy").addEventListener("click", copy);

</script>





